body {
    text-align: center;
     font-family: "Happy Monkey", system-ui;
     background: linear-gradient(lightskyblue, pink);
     color: #ffffff;
     /* display: flex;
     flex-direction: column;
     align-items: center; */
     
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    object-fit: cover;
}



#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#birth-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    
}

#birth-date {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px;
}

.gift-section {
    margin-top: 50px;
}

.gift-img {
    width: 300px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(Images/GIftWrapper.avif);
    height: 300px;
    background-size: cover;
    margin: 0 auto;
}

#gift-happy:hover {
    background-image: url(Images/Happy\ Sesame\ Street\ GIF\ by\ Muppet\ Wiki.gif);
}

.gift-title {
    margin-bottom: 20px;
}

.gift-hint {
    margin-top: 5px;
}

#gift-enter:hover {
    background-image: url(Images/enter.gif);
}

h4 {
    font-style: italic;
    margin: 40px auto 30px;
}

a {
    color: white;
}

